body{
	background:url("../images/game.jpg");
}
.jumbotron{
	background: url("../images/background.jpg");
	margin-top:10%;
	text-align:center;
	color:#505160;
	font-weight:bold;
	height:600px;
}
#timer{
	display:none;
	color:#F18D9E;
}
#restart{
	display:none;
}
#question{
	margin-top:20px;
	font-size:30px;
	color:#AEBD38;
}
.option{
	padding:10px;
	font-size:26px;
	color:#598234;
	margin-top:20px;
	text-decoration:underline;
}